.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo:hover {
    background-color: rgba(219, 218, 218, 0.301);
    cursor: pointer;
}

.todo-value {
    margin-right: 20px;
}

.todo-delete {
    display: none;
}

.todo:hover .todo-delete {
    cursor: pointer;
    display: flex;
}